{#
/**
 * @file block--multilingual-entities-language-switcher-block.html.twig
 * Default theme implementation to present Multilingual Entities Language Switcher Block.
 *
 * Available variables:
 * - languages: array of languages with assigned nodes.
 *
 * @ingroup themeable
 */
#}
{% if front_pages is not empty %}
    <ul class="links">
        {% for language_id,target_id in front_pages %}
            {% if target_id is not empty %}
                {% if language_id == 'pt-pt' %}
                    {% set lang = 'pt-br' %}
                {% else %}
                    {% set lang = language_id %}
                {% endif %}
                <li class="{{ language_id }}">
                    <a href="{{ path_lang('entity.node.canonical', {'node': target_id }, {}, lang) }}">{{ lang }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
